@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.otf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.otf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
    /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    margin: 0;
    position: relative;
    min-height: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
}

.table thead th {
  border-bottom: 1px solid #ebebeb;
  vertical-align: middle;
}

.table th {
  border-top: 0;
  font-weight: 500;
  padding: 1.5rem;
  text-align: left;
  vertical-align: middle;
}

.table-hover tbody tr {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.table-hover tbody tr:hover {
  background-color: #f9fafb;
}

.table td {
  padding: 24px;
  border-top: 1px solid #e9ecef;
  vertical-align: middle;
  font-weight: 500;
  font-size: 14px;
}

.view--btn {
  cursor: pointer;
}

.footer--section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-direction: normal;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.no-underline {
  text-decoration: none;
}

.dim {
  opacity: 1;
}

.dim, .dim:focus, .dim:hover {
  transition: opacity .15s ease-in;
}

.dim:hover {
  opacity: .5;
}

.color-inherit {
  color: inherit;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-none {
  list-style-type: none;
}

.pl-0 {
  padding-left: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-0 {
  margin-top: 0;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-direction: normal;
}

.ml-4 {
  margin-left: 2rem;
}

footer {
    width: 100%;
    background-color: #F4F5F7;
    padding: 2rem 100px;
    position: absolute;
    right: 0;
    /*bottom: 0;*/
    left: 0;
}

/*
table {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

table thead {
  flex: 0 0 auto;
  width: 100%;
  margin-top: 10px;
}

table tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}

table tbody tr {
  width: 100%;
}

table thead, table tbody tr {
  display: table;
  table-layout: fixed;
}
*/

/**/

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%
}


.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #000;
  border-radius: 25px;
}


.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #000;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll
}

@keyframes scroll {
0% {
  opacity: 1
}
100% {
  opacity: 0;
  transform: translateY(46px)
}
}

/**/

@keyframes scrollDown {
  0% {
    top: 14px;
    opacity: 0;
  }

  15% {
    top: 14px;
    opacity: 1;
  }

  30% {
    top: 14px;
    opacity: 1;
  }

  45% {
    top: 34px;
    opacity: 1;
  }

  100% {
    top: 34px;
    opacity: 0;
  }
}

.scroll__down {
   position: relative;
   /*top: 50%;*/
   /*bottom: -44px;*/
   left: 50%;
   display: inline-block;
   width: auto;
   margin: 0 auto;
   text-align: center;
   background-color: transparent;
   border: none;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   -o-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }

.scroll__mouse {
   position: relative;
   display: inline-block;
   width: 30px;
   height: 45px;
   margin: 0 auto;
   border: 1px solid #000;
   border-radius: 20px;
 }

.scroll__wheel {
   position: absolute;
   margin-top: -3px;
   left: 12px;
   width: 3px;
   height: 3px;
   background-color: #000;
   border-radius: 50%;
   animation: scrollDown 2.5s infinite;
}

.circle {
    width: 16px;
    height: 16px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.roller {
    width: 10px;
    height: 20px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.circle_win {
    background: #3cd483;
}

.circle_lose {
    background: #FF5A5F;
}

.circle_draw {
    background: #ebeef0;
}

.mr-10 {
    margin-right: 10px;
}

.mt-1 {
    margin-top: 1px;
}

.bubble {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #F5F7FA;
    padding: 20px 25px 20px;
    border-radius: 4px;
    color: #4A89DC;
    border: 1px solid #F5F7FA;
    display: inline-block;
}

.bubble:hover {
    border: 1px solid #4A89DC;
    box-shadow: 0 5px 10px 0 rgba(69, 129, 208, 0.12);
}

.bubble .bubble_badge {
    font-family: 'SanFrancisco', sans-serif;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-transform: uppercase;
    font-size: 11px;
    background-color: #4A89DC;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 6px 10px 5px;
    border-radius: 2px;
    margin-right: 5px;
}

.btn {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1428571428571428;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0 8px;
    padding: 16px 24px;
    font-size: 13px;
}

.btn:hover {
    box-shadow: inset 0 0 0 999px rgba(0,0,0,0.125);
}

.btn_primary:active {
    background-color: #0088ff;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
}

.btn_primary:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #0088ff;
}

.btn_primary {
    background-color: #0088ff;
    color: #fff;
}

.btn_default {
    background-color: #ebeef0;
    color: #384047;
}

.btn_default:active {
    background-color: #ebeef0;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
}

.btn_default:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #ebeef0;
}

.section-title {
    font-family: 'SanFrancisco', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #AAB2BD;
    font-weight: 600;
    margin-bottom: 15px;
}

.bubble_text {
    font-family: 'SanFrancisco', sans-serif;
    font-weight: 400;
}

.header_text {
    padding-bottom: 1em;
    font-size: 32px;
    color: #384047
}

.pb-1 {
    padding-bottom: 1px !important;
}

.pb-5 {
    padding-bottom: 5em;
}

.header_btn_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-center {
    align-items: center;
}

table.standings-table thead tr span {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #AAB2BD;
    font-weight: 600;
}

.mb-5 {
    margin-bottom: 5em;
}

.mb-2 {
    margin-bottom: 2em;
}

.mb-1 {
    margin-bottom: 1px;
}

.mr-4 {
    margin-right: 4px;
}

.kpwYUV {
    width: 100%;
    height: 100%;
}

.iSNGhk {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.jVMqoU {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
}

.bcxKmx {
    position: relative;
}

.ircNbz {
    margin-bottom: 24px;
}

.bJRjik {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.jQqHUs {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 85%;
}

.TPLqI {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hoIHyY {
    box-sizing: border-box;
    padding-top: 64px;
    padding-bottom: 64px;
}

.YnFbz {
    margin: 0 0 24px;
    font-size: 32px;
    color: #384047;
}

.dqYHlU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.kJuSkM {
    box-sizing: border-box;
    width: 100%;
}

.iFSVFt {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1428571428571428;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #0088ff;
}

.iarTmz {
    margin: 8px 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #fff;
}

.eIpWdY {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1428571428571428;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #ebeef0;
}

.eoYFug {
    margin: 8px 0;
    padding: 16px 24px;
    font-size: 16px;
    color: #384047;
    background-color: #ebeef0;
}

.bEIiCg {
    border-radius: 4px;
}

.fUxvfD {
    background-color: #f9f9fa;
}

.rwsjb {
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 64px;
    padding-bottom: 64px;
}

.PKBkC {
    word-break: break-word;
}

.jobfBC {
    line-height: 1.5;
}

.igsOsg {
    font-weight: 400;
    text-align: center;
}

.jQGgBT {
    margin: 0;
    font-size: 20px;
    color: #5f6e7a;
}

.cGJiID {
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);
}

.gdrtsO {
    font-family: inherit;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    border: 0;
    /*box-shadow: inset 0 0 0 1px #dde1e5;*/
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.hNtHop {
    margin: 0;
    padding: 16px 16px 16px 56px;
    width: 100%;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

.cGJiID:focus, .cGJiID:active {
    box-shadow: 0 0 0 3px #08f;
}

.gdrtsO:focus {
    outline: none;
}

.AXtUg {
    color: inherit;
    border: 0 solid #dde1e5;
    border-bottom-width: 1px;
}

.isnHCr {
    padding-top: 24px;
    padding-bottom: 24px;
}

.iHZvIS {
    box-sizing: border-box;
}

.eyLfWl {
    font-weight: 400;
}

.hxhtjI {
    margin: 0;
    font-size: 24px;
    color: #384047;
}

.dtSnOS {
    margin: 0 0 0 8px;
    padding: 4px 8px;
    font-size: 14px;
    color: #5f6e7a;
    background-color: #ebeef0;
}

.LbkC {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.jqXXaj {
    margin-left: 16px;
}

.cSTfEv {
    color: #384047;
}

.kSkfX {
    display: inline-flex;
}

.rxSAks {
    padding: 10px;
}

.rxSAks:hover {
    background-color: #f9fafb;
}

.dIwnSk {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border: 0;
    width: 100%;
    min-height: 70px;
    max-width: 740px;
    text-align: left;
    text-decoration: none;
    padding: 7px 20px 9px;
    margin: 0 auto 10px;
    border-radius: 6px;
    -webkit-box-shadow: 0 6px 10px 0 rgba(202,215,223,.4);
    box-shadow: 0 6px 10px 0 rgba(202,215,223,.4);
}

.jXsBsj {
    margin-right: 12px;
    width: 34px;
    height: 34px;
}

.GpBsPk {
    display: block;
    font-size: 14px;
    letter-spacing: .07em;
    color: #525866;
    overflow: hidden;
    line-height: 1.2;
    margin: 0 0 2px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
    -webkit-box-flex: 1;
}

.dshxUp {
    text-align: right;
    white-space: nowrap;
}

.PppsaX {
    display: block;
    letter-spacing: .07em;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 0 15px;
    font-size: 13px;
    color: #444956;
}

.nHvcdR {
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.uNvHfs {
    display: block;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-left: auto;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .15em;
    text-transform: uppercase;
    color: #acb1bf;
}

@media screen and (min-width: 600px){
    .dqYHlU {
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .kJuSkM {
        width: auto;
    }

    .iarTmz {
        margin: 0 8px;
    }

    .eoYFug {
        margin: 0 8px;
    }

    .jqXXaj {
        margin-left: 24px;
    }
}